apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: betteruptime-worker-hpa-ap-southeast-1
  namespace: betteruptime
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: betteruptime-worker-ap-southeast-1
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
